---
- name: Resolve platform specific vars
  ansible.builtin.include_vars: '{{ item }}'
  with_first_found:
    - files:
        - '{{ ansible_facts["distribution"] }}-{{ ansible_facts["distribution_release"] }}.yml'
        - '{{ ansible_facts["distribution"] }}.yml'
        - '{{ ansible_facts["os_family"] }}.yml'
      skip: true
      paths:
        - '{{ role_path }}/vars'
- name: Downloading {{ mkcert_url }} to {{ mkcert_install_exe }}...
  become: true
  become_user: root
  ansible.builtin.get_url:
    url: '{{ mkcert_url }}'
    dest: '{{ mkcert_install_exe }}'
    checksum: '{{ mkcert_checksum }}'
    mode: '0755'
- name: Link {{ mkcert_link }} to {{ mkcert_install_exe }}...
  become: true
  become_user: root
  ansible.builtin.file:
    src: '{{ mkcert_install_exe }}'
    dest: '{{ mkcert_link }}'
    state: link
